/************************* All Pages *************************/

html {
  box-sizing: border-box;
  overflow-x:visible;
}
*,*:before,*:after {
  margin: 0;
  padding:0;
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: visible;
}
/**********************color variables**********************/
:root {
  --background-gradient:linear-gradient(#B6A19e,#8f7777,black);
  --action-filler:#fa9f02;
  --font-color:whitesmoke;
  --acc-color:aqua;
  --acc-color2:#B6A19E;
  --acc-color3:#686369;
}
.far{
  color:var(--action-filler);
  padding: 7px;
  font-size: 38px;
  display: inline-flex;
}
.far:hover {
  color:black;
  opacity:0.5;
}


/**********************NavBar**********************/
/**************************************************/
.navbar{
  display:none;
}
.navbar-toggler   {
  font-size: 20px;
  background-color:var(--action-filler);
  display: inline-flex;
}
.navbar-toggler:hover{
  border-color: aliceblue;
}
.e-mail {
  margin-top: 2%;
}
.btn-custom {
  background-color:var(--action-filler);
  color: aliceblue;
}

/*********************************************************************** .portfolio page ******************************************
                                        *****************************************************************
***********************************************************************************************************************************/

.Portfolio {
  background-color: black;
  background-image:linear-gradient(#d3b9b5d7,#686380,rgb(46, 46, 46));
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  padding:5%;
}
 .fa:hover {
   opacity:0.5;
 }

.fa-facebook-square {
  color:white;
}

.fab-linkedin {
  color: white;
} 

.text-facebook {
  color: #3b5998 ;
  
}
.text-linkedin {
  color: #0077B5;
}
.text-github {
  color:black;
}

.media-nav{
  display:flex;
  justify-content: left;
  margin-top: -20%;
}
.media-nav li {
  font-size: 10px;
  display: inline-block;
  padding: 1%;
  text-shadow: 0px 7px 10px;
}

#list-inline2 {
 display: flex;
 justify-content: center;
 padding:5%;
  
}
#list-inline2 li {
  padding:3%;
}


.person-img {
  height: 108%; 
  margin-left: 2%;
  margin-top: 5%;

  /* padding-right: -3%; */
}
#img {
  background-image: linear-gradient(rgb(109, 109, 109), rgba(255, 255, 255, 0.575)) ;  
  margin-left: 20%;
  margin-top: 15%;
  width: 80%;
  height:75%;
  
  border-radius: 50%;
  box-shadow: 0 0 105px rgb(43, 38, 38);
  
}

.container-one-img {
  background-color: rgba(0, 0, 0, 0.377);
  margin-top: -5%;
  margin-bottom: 5%;
  margin-right: 25%;
 
  margin-left: 75%;
  box-shadow: 0 0 105px rgb(201, 253, 253);
  border-radius: 85%;
  width: 22%;  
  
}


.text-box {
  margin-top:1%;
  margin-left: 5%;
  margin-bottom: 10%;
  color:whitesmoke; 
  font-weight: bolder;
  
}
.intro {
  font-size: 70px;
  color:black;
}
.text-box span {
  position: absolute;
  background: rgb(47, 219, 219);
  margin-top: 8%;
  width: 390px;
  position: absolute;
  height: 3px;
}


#stage {
  /* margin: 1erm auto; */
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  margin-top: 3%;
  font-size: 50px;
  font-weight: bolder;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spinner;
  }

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;

}
@keyframes spinner{
  from {
    transform: rotateZ(0);
  }

  0% {
    top: 0px;
    left: 0px;
    color: #d33ebd;
  }
  25% {
    top: 0px;
    left: 100px;
    color: rgb(8, 131, 131);
  }
  50% {
    top: 100px;
    left: 100px;
    color: #e88d72;
  }
  
}


.container-main2 {
  background-color: rgb(67, 190, 174);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(61, 82, 82, 0.411);
  box-shadow: 0 0 125px black;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding: 1.2%;
  z-index: 50;
  position:sticky;
  top:0;
  
  
}


.container-main2 li {
  display:inline-block;
  justify-content: space-between;
  margin-left: 3%;
  padding: 1%;
  color:antiquewhite;
  font-size: 20px;

}






  
/***************************************************** Project & Skills Section ****************************************************************
                               *******************************************************************
**********************************************************************************************************************************/
.skill-title{       
  margin-top: 10%;
  margin-bottom: 4%;
  margin-right: 1%;
  background-color: var(--acc-color2);
  font-size: 2rem;
  color: white;
  width:100%;
  text-align: center;
 
}
.container-skill-info {
  background-color: rgba(245, 245, 245, 0.507);
  width:100%;
  height:100%;
  padding:10%; 
    
  
}
.container-skill-info li{
  margin:2.0%;
  display:inline-flex;
  font-family: sans-serif;   
  
  
}



/***********************projects carousel**************/



.carousel-item{
  width:100%;
  height:60%;
  margin-left: 0%;
  margin-top: 8%;
  
 
}
 .fa-arrow-right{
  color:black;
  opacity: 2;
}
.fa-arrow-left{
  color:black;
}

.pro1-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10%;
  display:flex;
  justify-content: center;
  text-align: center;
  
}
.pro2-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15%;
  display:flex;
  justify-content: center;
  text-align: center;
}
.pro3-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15%;
  display:flex;
  justify-content: center;
}
.pro4-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15%;
  display:flex;
  justify-content: center;
}

.all-containers{
  width:40%; 
   
  
}

.flex-container1{
  margin-left: 10%;
  margin-top: 15%;
  width:100%;
  box-shadow: 0 0 125px white;
  background-color: rgba(124, 110, 110, 0.74);
 
   
}
.react-info li{
  display:inline-flex;
  justify-content: center;
  margin-left: 2%;
  margin-top: 5%;
  color:white;
}
.react-info li:hover{
  color:var(--action-filler);
  opacity: 0.7;
}



.flex-container2{
  margin-left: 135%;
  margin-right: 1%;
  margin-top: -95%;    
  width: 100%; 
  box-shadow: 0 0 125px white; 
  background-color: rgba(124, 110, 110, 0.74);
  
  
}
.python-info li{
  display:inline-flex;
  justify-content: center;
  color:white;
  margin-left: 2%;
}
.python-info li:hover{
  color:aqua;
  opacity: 0.7;
}



.flex-container3{
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 50%;
  width:100%;
  box-shadow: 0 0 125px white; 
  background-color: rgba(124, 110, 110, 0.74);  
}
.Html-info li{
  display:inline-flex;
  justify-content: center;    
  margin-left: 2%;
  margin-top: -15%;
  color:white;
}
.Html-info li:hover{
  color:#574d7c;
}


.flex-container4{
  margin-left: 135%;
  margin-top: -125%;
  margin-bottom: 20%;
  width:100%;
  box-shadow: 0 0 125px white;
  background-color: rgba(124, 110, 110, 0.74);

}
.Node-info li{
  display:inline-flex;
  justify-content: center;   
  margin-top: -15%;
  margin-left: 2%;
  color:white;
}
.Node-info li:hover{
  color:var(--action-filler);
}

/******************************************************About Section****************************************************************
                                  *******************************************************************
*********************************************************************************************************************************/

.container-aboutMe p {
  font-family: sans-serif;
}
.Me{
  margin-top: 10%;
  margin-left: 10%;
  font-size: 2rem;
  color:white;
  background-color: var(--acc-color2);
  margin-top: 8%;
  width:80%;
  text-align: center;
  
}
.container-aboutMe{
  background-color: #cbc4cb;
  padding:5%;
  padding-bottom: 10%;
}
.container-aboutMe p {
  font-family: sans-serif;
  padding:8%;
}
/******************************************************Contact Section***********************************************************
                                  *******************************************************************
********************************************************************************************************************************/


.form-group label{
  margin-top: 2%;
  padding:.2%;
}
.form-control{
  width:75%;
  margin-left: 8%;
  background-color:#ffffff;
  margin-top:1%;
  padding:2%;
  
}
.container-contact{
  background-color: rgb(189, 189, 189);
  padding: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}
.email-container{
  background-color: var(--acc-color2);
  text-align: center;
  width:100%;
    margin-left: 1%;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 2rem;
    
}
.btn-custom {
  margin-left: 40%;
  margin-top:3%;
  margin-bottom: 3%;
}
 
.up-link{
  text-align:center;
  padding:5%;
  font-size: 1.2rem;
}

.container-list{
  background-color: #82ccbb;
  width: 100%;
}
.list-inline{
  display:flex;
  justify-content: center;
  padding:1%;
}
.list-inline li {
  display: inline-block;
  padding:2%;
  margin-left: 2%;
  text-shadow: 0px 7px 10px;
} 

  


/*********************** ***********************Media Query Mobile  **********************
********************************************************************************************
*******************************************************************************************/

@media only screen and (max-width: 992px){
html,body{
  overflow-x: hidden;
} /*securing in case carousel overflows*/
.far{
  color:white;
  padding: 7px;
  font-size: 25px;
  display: inline-flex;
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(101, 236, 207, 0.616);
  width:100%;
  height:95%;
  margin-left:-3%;
  box-shadow: 0 0 105px rgb(18, 109, 109);
  }
  .navbar-brand{
    font-family: sans-serif;
    font-size: 1rem;
  }
  .intro {
    font-size: 50px;
    color:rgb(43, 42, 42);
    margin-left: 5%;
    margin-top: 8%;
  }
#spinner{
  font-size:32px;
  font-weight: bolder;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.text-box span{
  background:none;
  }
  .navbar{
    visibility: visible;
    display: inline;
  }
  .nav-link{
    color:black;
    font-size: 18px;    
    
  }
  .nav-link:hover{
    color:rgb(3, 114, 114);
    opacity:0.5;
    background-color: antiquewhite;
  }
  .navbar-toggle {
    visibility: visible;
    display: inline;

  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .fa  {
    font-size: 20px;
    color:var(--action-filler)    
  }
  
  .container-main2 {
    display: none;
  }
  .media-nav{
    display:flex;
    justify-content: left;
    margin-top: 2%;
  }
  .media-nav li {
    font-size: 10px;
    display: inline-block;
    padding: 1%;
    margin-top: -30%;
    margin-left: 3%;
    margin-right: 10%;
    text-shadow: 0px 7px 10px;
  }
  
  

  #img {
    height:90%;
    width:100%;
    margin-top:8%;
  }
  .person-img {
    height: 108%; 
    margin-left: 2%;
    margin-top: 5%;
  }
  
  .container-one-img{    
    background-color:rgba(78, 78, 78, 0.178);
    padding: .2%;
    margin-left: 70%;
    margin-top: .5%;
    margin-bottom: 2%;
    border-radius: 90%;
  }
  
  .bi-list{
    width:10%;
    color:white;
    padding:0%;
  }
  .button.bi-list:hover{
    border-color: antiquewhite;
  }
  .icon-bar{
    background-color:white;
  }
  
  .container-skill-info {
    background-color: rgba(245, 245, 245, 0.507);
    width:100%;
    height:100%;
    padding:15%;   
    
  }
  .container-skill-info li{
    margin:2.0%;
    display:inline-flex;
    font-family: sans-serif;   
    
    
  }
  .container-aboutMe{
    background-color: #cbc4cb;
    padding:15%;
    padding-bottom: 30%;
  }
  .container-aboutMe p {
    font-family: sans-serif;
  }
  .Me{
    margin-left: 0%;
    margin-right: 0%;
    font-size: 2rem;
    color:white;
    background-color: #b6a19e;
    margin-top: 18%;
    margin-bottom: 10%;
    width:100%;
    text-align: center;
  }
  .form-group label{
    margin-top: 5%;
    
  }
  .form-control{
    width:85%;
    margin-left: 8%;
    background-color:#d8c9c6;
    margin-top:1%;
    
  }
  .container-contact{
    background-color: rgb(255, 255, 255);
    padding: 10%;
    margin-left:0%;
    margin-right: 0%;
    margin-top: 0%;
  }
  .email-container{   
    width:100%;
    margin-left: 1%;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 2rem;
    color:white;
    background-color: #B6A19e;    
    text-align: center;
  }

  .btn-custom {
    margin-left: 38%;
    margin-top:3%;
    margin-bottom: 3%;
  }
  .up-link{
    text-align:center;
    padding:20%;
    font-size: 1.2rem;
  }
  .container-list{
    background-color: #82ccbb;
    width: 100%;
  }
  .list-inline{
    display:flex;
    justify-content: center;
    padding:5%;
  }
  .list-inline li {
    display: inline-block;
    padding:5%;
    margin-left: 2%;
    text-shadow: 0px 7px 10px;
  } 



  /*****************************carousel section mobile********************/
  
  .skill-title{       
    margin-top: 10%;
    margin-right: 0%;
    margin-left: 0%;
    background-color: var(--acc-color2);
    font-size: 2rem;
    color: white;
    width:100%;
    text-align: center;
   
  }
  .skill-info{
    font-size: 25px;
    color: black;
    display:flex;
    justify-content: center;
  }
  .carousel-item{
    width:100%;
    height:60%;
    margin-left: -1.5%;
    margin-top: 3%;
    
   
  }
   .fa-arrow-right{
    color:black;
    opacity: 2;
  }
  .fa-arrow-left{
    color:black;
  }


  /****************carousel headers mobile**************/
  .pro1-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 10%;
    display:flex;
    justify-content: center;
    
  }
  .pro2-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
  }
  .pro3-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  .pro4-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  /*******************************************************/
  .all-containers{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(124, 110, 110, 0.74);
    
  }
  
  .flex-container1{
    margin-left: 1%;
    margin-top: 0%;
    width:100%;
    box-shadow: 0 0 125px white;     
  }
  .react-info li{
    display:inline-flex;
    justify-content: center;
    margin-left: -2%;
    margin-top: 5%;
    color:white;
  }
  .react-info li:hover{
    color:var(--action-filler);
    opacity: 0.7;
  }

  

  .flex-container2{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;    
    width: 100%; 
    box-shadow: 0 0 125px white;  
    
  }
  .python-info li{
    display:inline-flex;
    justify-content: center;
    color:white;
    margin-left: -2%;
  }
  .python-info li:hover{
    color:aqua;
    opacity: 0.7;
  }
  


  .flex-container3{
    margin-left: 1%;
    margin-top: 2%;
    width:100%;
    box-shadow: 0 0 125px white;   
  }
  .Html-info li{
    display:inline-flex;
    justify-content: center;    
    margin-left: 1%;
    margin-top: -15%;
    color:white;
  }
  .Html-info li:hover{
    color:#574d7c;
  }

  
  .flex-container4{
    margin-left: 1%;
    margin-top: -48%;
   
    width:100%;
    box-shadow: 0 0 125px white;

  }
  .Node-info li{
    display:inline-flex;
    justify-content: center;   
    margin-top: -15%;
    color:white;
  }
  .Node-info li:hover{
    color:var(--action-filler);
  }

}

