body {
    font-family: 'Ranchers', cursive;
}

.portfolio {
    background-color: #FBB574;
}

.person-img {
    height: 48%;
    width: 40%;
    margin-left: 38%;
    margin-top: 5%;
    
    
    /* padding-right: -3%; */   
   
}
img {
    border-radius: 45%;
    border-style: solid;
    border-color: #E88D72;
    border-width: thick;
    margin-left: -145%;
    
    
    
}

.container-one-img{
    background-color: #dbe9e7;
    margin-top: 5%;
    margin-left: 58%;  
    box-shadow: 0 0 45px;
    animation-name: slide;
    position: relative;
    animation-direction: reverse;
    animation-duration: 1.2s;
    
    /* padding-right: -3%; */
}
@keyframes slide {
    from {left: 0px;}
    to {left: 400px;}
  }

.text-box{
    margin-top: 6%;
    margin-left: 10%;
}
.text-box span {
    position: absolute;
    background: aqua;
    margin-top: 8px;
    width: 100px;
    position: absolute;
    height: 2px;
    
}
.text-box h2 {
    margin-top: 5%;
    animation-name: pop;
    animation-duration: 6.2s;
    
}
@keyframes pop {
    from {
        transform: translateX(100%);}
    
      to {transform: translateX(0%);}
}

.about {
    background-image: url(/images/hike.webp);
    background-repeat: no-repeat;
}
.contact {
    background-color: #E88D72;
}

.navbar-custom {
    background-color: #543855;
}
.navbar-custom1 {
    background-color: #FBB574;
}
.navbar-toggle {
    background-color: #543855;
}
.navbar-toggle .icon-bar {
    background-color: white;
}
.info {
    background-color: #FBB574;
    padding: 10%;
    margin-top: 8%;
    border-style: solid;
    border-radius: 8%;
}
.e-mail {
    margin-top: 2%;
}
.btn-custom {
    background-color:#543855;
    color:aliceblue;
}
