/************************* All Pages *************************/



body {
  font-family: 'Ranchers', cursive;
}

.glyphicon{
  color:#9ae0d6;
  padding: 5px;
}
.glyphicon:hover {
  color:black;
}

/******************************* .portfolio page ****************
*****************************************************************
*****************************************************************/

.portfolio {
  background-color:rgba(0, 0, 0, 0.5);
}
.container {
  /* border-style: solid;
  border-width: 2px;
  border-color:antiquewhite; */
  width: 70%;
}
.fa:hover {  
    opacity: 0.5;
  }

.fa-facebook-square {  
  background: #3B5998;
    color:white;
  }

/* Twitter */
.fab-linkedin {  
  background: #55ACEE;  
  color: white;
} 

.text-facebook {
  color: #3b5998 !important;
  
}
.text-linkedin {
  color: #0077B5 !important
}
.text-github {
  color:black !important
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 35%;
  margin-right: 52%;
  margin-bottom: -2%;
  padding: -20%;
  background-color: rgba(250, 235, 215, 0.76);
}

ul.list-inline li {
  display: inline-block;
  padding: 0 8px
}
.list-inline li {
  /* margin-bottom: 35%; */
}

.person-img {
  height: 48%;
  width: 50%;
  margin-left: 38%;
  margin-top: 5%;

  /* padding-right: -3%; */
}
#img {
  background-image: linear-gradient(rgb(56, 56, 56), rgba(255, 255, 255, 0.575)) ;
  /* border-style: solid;
  border-color: #e88d72;
  border-width: thin; */
  margin-left: -48%;
  margin-top: 9%;
  width: 210%;

  border-radius: 20%;
  
  
}
.fade-in {
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.container-one-img {
  background-color: rgba(73, 73, 73, 0.185);
  margin-top: 1%;
  margin-left: 38%;
  box-shadow: 0 0 105px whitesmoke;
  border-radius: 20%;
  
  
  border-style: solid;
  border-color: rgba(250, 235, 215, 0.377);
  border-width: 2px;

  width: 30%;
  margin-bottom: 7%;
  margin-left: 65%;
  
  /* animation-name: slide; */
  position: relative;
  animation-direction: reverse;
  animation-duration: 1.2s;

  /* padding-right: -3%; */
}
@keyframes slide {
  from {
    left: 0px;
  }
  to {
    left: 400px;
  }
}

.text-box {
  margin-top:5%;
  margin-left: 10%;
  color:whitesmoke;
}
.text-box span {
  position: absolute;
  background: aqua;
  margin-top: 8px;
  width: 180px;
  position: absolute;
  height: 2px;
}



/* .text-box h2 {
  margin-top: 4%; */
  /* animation-name: pop; */
  /* animation-duration: 6.2s; */
}


#stage {
  margin: 1erm auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  margin-top: 5%;
  -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spinner;
    /* animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s; */

    /* -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; */
  }

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;

}
@keyframes spinner{
  from {
    transform: rotateZ(0);
  }

  /* to {
    transform: translateX(0%);
  } */
  0% {
    top: 0px;
    left: 0px;
    color: #d33ebd;
  }
  25% {
    top: 0px;
    left: 100px;
    color: rgb(8, 131, 131);
  }
  50% {
    top: 100px;
    left: 100px;
    color: #e88d72;
  }
  
}

.container-list {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(250, 235, 215, 0.747);
  margin-bottom: 3%;
  height: 10%;
  background-color: rgba(250, 235, 215, 0.712);

}


.container-main2 {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(55, 197, 197);
}
/*************************** About Page ***************************
*******************************************************************
*******************************************************************/


.about {
  background: #47484A;
  
  
}







/******************************* contact page *********************
*******************************************************************
*******************************************************************/

.contact {
  background-color: #47484A;
  
}

.navbar-custom {
  /* background-color: #543855; */
}
.navbar-custom1 {
  /* background-color: #fbb574; */
}
.navbar-toggle {
  background-color: #543855;
}
.navbar-toggle .icon-bar {
  background-color: white;
}
.navbar{
  display:none;
}
.navbar-toggle {
  display:none;
}
.info {
  background-color: #fbb574;
  padding: 10%;
  margin-top: 8%;
  border-style: solid;
  border-radius: 5%;
  border-color: #cc8f56;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.e-mail {
  margin-top: 2%;
}
.btn-custom {
  background-color: #543855;
  color: aliceblue;
}

/*********************** Media Query Mobile  **************
*************************************************************/
@media only screen and (max-width: 480px){
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(78, 207, 179);
  width:150%;
  margin-left: -25%;
  
  /* border-style: solid;
  border-color: yellow;
  border-width:2px;
  margin-left: -25%; */
  }
.text-box span{
  background:none;
  }
  .navbar{
    visibility: visible;
    display: inline;
  }
  .navbar-toggle {
    visibility: visible;
    display: inline;
  }
  .container-main2 {
    display: none;
  }
  .list-inline{
    display:inline-flex;
    margin-left: 32%;
    
  }
}
@media only screen and (max-width: 480px){
  #img{
    border:none;
    border-radius: 0px;
    margin-left: -25%;
    width:100%;
    margin-top:1%;
    margin-bottom: 3%;
  }
  .container-one-img{
    margin-left:3%;
    background-color:rgba(250, 235, 215, 0.747);;
    padding: 1%;
    margin-top: 4%;
    width: 100%;
    border-radius: 0px;



    /* border-style: solid;
    border-color:yellow;
    border-width: 2px; */
  }
  .container-list {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(250, 235, 215, 0.747);
    margin-bottom: 3%;
    height: 15%;
    
  }
}

@media only screen and (min-width: 667px){
  .list-inline{
    display: inline-flex;
  }
}

/* tablet */

@media only screen and (max-width: 767px){
  .container-one-img{
  border-style: solid;
  border-color: chartreuse;
  border-width: 2px;
  }
  .container-list {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(250, 235, 215, 0.747);
    margin-bottom: 3%;
    height: 13%;    
  }
}