/************************* All Pages *************************/



body {
  font-family: 'Ranchers', cursive;
}

.glyphicon{
  color:#710cb4b9;
  padding: 5px;
}
.glyphicon:hover {
  color:black;
}

/*********************************************************************** .portfolio page ******************************************
                                        *****************************************************************
***********************************************************************************************************************************/

.Portfolio {
  background-color:rgba(46, 45, 45, 0.767);
}
.container {
  /* border-style: solid;
  border-width: 2px;
  border-color:rgb(225, 250, 215); */
  margin-top: -5%;
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
}
.fa:hover {  
  opacity: 0.5;
}

.fa-facebook-square {  
  background: #3B5998;
    color:white;
}

.fab-linkedin {  
  background: #55ACEE;  
  color: white;
} 

.text-facebook {
  color: #3b5998 !important;
  
}
.text-linkedin {
  color: #0077B5 !important
}
.text-github {
  color:black !important
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 45%;
  margin-right: 52%;
  margin-bottom: -2%;
  padding: -20%;
  background-color: rgba(250, 235, 215, 0.76);
}

ul.list-inline li {
  display: inline-block;
  padding: 0 8px
}
.list-inline li {
  /* margin-bottom: 35%; */
}

.person-img {
  height: 38%;
  width: 40%;
  margin-left: 33%;
  margin-top: 5%;

  /* padding-right: -3%; */
}
#img {
  background-image: linear-gradient(rgb(56, 56, 56), rgba(255, 255, 255, 0.575)) ;  
  margin-left: -18%;
  margin-top: 9%;
  width: 180%;
  border-radius: 70%;
  
  /* border-style: solid;
  border-color: #e88d72;
  border-width: thin; */
  
}
/* .fade-in {
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} */
.container-one-img {
  background-color: rgba(0, 0, 0, 0.377);
  margin-top: -5%;
  margin-left: 35%;
  box-shadow: 0 0 105px rgb(190, 255, 255);
  border-radius: 85%;
  
  
  border-style: solid;
  border-color: rgba(250, 235, 215, 0.377);
  border-width: 2px;
  width: 29%;

  margin-bottom: 7%;
  margin-left: 85%;
  
  /* animation-name: slide; */
  /* position: relative;
  animation-direction: reverse;
  animation-duration: 1.2s; */

  /* padding-right: -3%; */
}
/* @keyframes slide {
  from {
    left: 0px;
  }
  to {
    left: 400px;
  }
} */

.text-box {
  margin-top:9%;
  margin-left: 10%;
  color:whitesmoke; 
  
}
.intro {
  font-size: 90px;
  color:whitesmoke
}
.text-box span {
  position: absolute;
  background: aqua;
  margin-top: 8px;
  width: 290px;
  position: absolute;
  height: 2px;
}



/* .text-box h2 {
  margin-top: 4%; */
  /* animation-name: pop; */
  /* animation-duration: 6.2s; */



#stage {
  /* margin: 1erm auto; */
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  margin-top: 5%;
  font-size: 70px;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spinner;
    /* animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s; */

    /* -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; */
  }

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;

}
@keyframes spinner{
  from {
    transform: rotateZ(0);
  }

  /* to {
    transform: translateX(0%);
  } */
  0% {
    top: 0px;
    left: 0px;
    color: #d33ebd;
  }
  25% {
    top: 0px;
    left: 100px;
    color: rgb(8, 131, 131);
  }
  50% {
    top: 100px;
    left: 100px;
    color: #e88d72;
  }
  
}

.container-list {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(250, 235, 215, 0.747);
  margin-bottom: 3%;
  height: 10%;
  background-color: rgba(250, 235, 215, 0.712);

}

.container-main2 {
  background-color: rgb(67, 190, 174);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(61, 82, 82, 0.411);
  box-shadow: 0 0 125px black;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.container-main2 li {
  display:inline-block;
  justify-content: space-between;
  margin-left: 5%;
  padding: 1%;
  color:antiquewhite;
  font-size: 20px;

}

.glyphicon  {
  font-size: 28px;
  background-image: linear-gradient(#f3d7eee5, #bd2fa5e5);
  display: inline-flex;
}
.container-info {
  background-color: antiquewhite;
  height: 100%;
  width:90%;
  margin-left: 5%;
}
.flex-quote {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-info{
  border-style: solid;
  border-color:yellow;
  border-width: 2px;
}
/***************************************************** About Page ****************************************************************
                               *******************************************************************
**********************************************************************************************************************************/


.about {
  background: #47484A;
  
  
}

/******************************************************Skill page****************************************************************
                                  *******************************************************************
*********************************************************************************************************************************/

.skill {
  background-color:rgb(46, 45, 45);
  color:cornsilk;
}
.navbar.navbar-custom3 {
  background-color: rgb(39, 180, 58);
  visibility: visible;
  display: inline;
  width: 100%;

}
.navbar-brand3 {
  font-size: 36px;
}
.navbar-toggle-3 {
  background-color: blueviolet;
  display: hidden;
}
.nav3 {
  background-color: cornsilk;
}
.navbar-collapse3 {
  display: hidden;
}
/****************************************************** contact page ***********************************************************
                                  *******************************************************************
********************************************************************************************************************************/

.contact {
  background-image: linear-gradient(rgb(56, 56, 56), rgba(255, 255, 255, 0.575)) ;
  
}
.container4 {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(116, 113, 113, 0.685);
  background-color: rgb(36, 36, 36);

  width:70%;
  box-shadow: -70px -50px 205px rgb(211, 208, 208);
  ;
  

  margin-left: 15%;
  margin-top: 3%;
  /* width: 210%; */

  border-radius: 20%;
}

.info {
  background-color: #ff8882d7;
  padding: 8%;
  margin-top: 3%;
  margin-left: 12%;
 width: 95%;
  border-radius: 20%;
 

  border-style: solid;
  border-width: 3px;
  border-color: rgba(36, 36, 36, 0.575);
 
}

.navbar-brand4 {
  font-size: 36px;
}
.button4 {
  display: hidden;
  visibility: hidden;
  border-style: solid;
  border-width: 3px;
}

.navbar-custom1 {
  background-color: rgb(9, 148, 148);
}
.navbar-toggle-4 {
  background-color: #543855;
  height:6%;
  width:6%;
  float:right;
  visibility: hidden;
}


.navbar-toggle-4 .icon-bar {
  background-color: white;
  
}
.navbar{
  display:none;
}
/* .navbar-toggle-4 {
  display:none;
} */
.glyphicon4  {
  font-size: 10px;
  background-image: linear-gradient(#f3d7eee5, #bd2fa5e5);
  display: inline-flex;
}
/* .glyphicon.four.glyphicon-folder-open {
  width:20%; */
}
.e-mail {
  margin-top: 2%;
}
.btn-custom {
  background-color: #543855;
  color: aliceblue;
}

.container-list4 {
  margin-top: 3%;
  margin-bottom: 2%;
  width:100%; 
  background-color: rgba(9, 148, 148, 0.432);
  
}

.list-inline4 {
  /* display: inline-flex; */
  margin-left: 40%;
}
.list-inline4 li {
  
  list-style: none;
  margin-left: 5%;
  margin-right: 52%;
  margin-top: 2%;
  margin-bottom: -2%;
  padding: -20%;
 
  
  
}
/*********************** Media Query Mobile  **************
*************************************************************/
@media only screen and (max-width: 480px){
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(101, 236, 207, 0.616);
  /* width:150%; */
  margin-left: auto;
  margin-right: auto;
  
  /* border-style: solid;
  border-color: yellow;
  border-width:2px;
  margin-left: -25%; */
  }
  .intro {
    font-size: 60px;
    color:whitesmoke;
    margin-left: 8%;
  }
#spinner{
  font-size:50px;
  margin-left: 8%;
}
.text-box span{
  background:none;
  }
  .navbar{
    visibility: visible;
    display: inline;
  }
  .navbar-toggle {
    visibility: visible;
    display: inline;
  }
  .glyphicon  {
    font-size: 20px;
    color:#424140;    
  }
  
  .container-main2 {
    display: none;
  }
  .list-inline{
    display:inline-flex;
    flex-wrap: nowrap;
    margin-left: 35%;
    
  }
  
  .person-img {
    height:79%;
    width: 40%;
    margin-left:36%;
    margin-top: 15%;
  }
  .container-one-img{
    margin-left:20%;
    background-color:rgba(44, 43, 42, 0.178);
    padding: .2%;
    margin-top: 4%;
    /* width: 95%; */
    height:30%;
    border-radius: 100%;



    /* border-style: solid;
    border-color:yellow;
    border-width: 2px; */
  }
  .container-list {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(250, 235, 215, 0.747);
    margin-bottom: 3%;
    height: 15%;
    
  }
  .navbar{
    visibility: visible;
    display: inline;
  }
  .navbar-toggle {
    visibility: visible;
    display: inline;
    background-color: violet;
    margin-right: 5%;
    overflow: hidden;
  }
  .icon-bar{
    background-color:white;
  }
  /* .glyphicon  {
    font-size: 20px;
    color:#cc8f56; */
    
  }  
}


@media only screen and (min-width: 667px){
  .list-inline{
    display: inline-flex;
    
  }
  .container-main2 li{
    width: 14%;
    /* border-style: solid; */
  /* border-color: chartreuse;
  border-width: 2px;
  padding: 1%;
  justify-content:space-between; */
  }
  /* .container-main2{
    margin-left: 1%;
    margin-right: 1%;
  } */
}

/* tablet */

@media only screen and (max-width: 767px){
  .container-one-img{
  /* border-style: solid;
  border-color: chartreuse;
  border-width: 2px; */
  justify-content: center;
  }
  .text-box span {
    display: none;
  }
  .container-list {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(250, 235, 215, 0.747);
    margin-bottom: 3%;
    height: 13%;
        
  }
  #img {
    width: 220%;
    margin-left: -80%;
  }
  .container-main2 li{
    width: 14%;
    /* border-style: solid; */
  /* border-color: chartreuse;
  border-width: 2px;
  padding: 1%;
  justify-content:space-between; */
  }
  .container-main2{
    margin-left: 1%;
    margin-right: 1%;
  }
  
}