/************************* All Pages *************************/

html {
  box-sizing: border-box;
  overflow-x:visible;
}
/* Paul Irish Reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,*:before,*:after {
  margin: 0;
  padding:0;
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x:visible;
}
/**********************color variables**********************/
:root {
  --background-gradient:linear-gradient(#B6A19e,#7e7070,black);
  --action-filler:#fa9f02;
  --font-color:whitesmoke;
  --acc-color:aqua;
  --acc-color2:#B6A19E;
  --acc-color3:#686369;
}
.far{
  color:var(--action-filler);
  padding: 2px;
  font-size: 25px;
  display: inline-flex;
}
.far:hover {
  color:black;
  opacity:0.7;
}


/**********************NavBar**********************/
/**************************************************/
.navbar{
  display:none;
}
.navbar-toggler   {
  font-size: 25px;
  background-color:var(--action-filler);
  display: inline-flex;
}
.navbar-toggler:hover{
  border-color: aliceblue;
}
.e-mail {
  margin-top: 2%;
}
.btn-custom {
  background-color:var(--action-filler);
  color: aliceblue;
}

/*********************************************************************** .portfolio page ******************************************
                                        *****************************************************************
***********************************************************************************************************************************/

.Portfolio {
  background-color: black;
  background-image:linear-gradient(#d3b9b5d7,#7e7070,rgb(46, 46, 46));
  background-repeat: no-repeat;
}
#portfolio-main{
  width: 947px;
}
.container {
  width: 100%;
  padding:5%;
}
 .fa:hover {
   opacity:0.7;
 }

.fa-facebook-square {
  color:white;
}

.fa-linkedin {
  color: white;
} 

.text-facebook {
  color: #3b5998 ;
  
}
.text-linkedin {
  color: #0077B5;
}
.text-github {
  color:black;
}

.media-nav{
  display:flex;
  justify-content: left;
  margin-top: -25%;
  margin-left: 20%;
  margin-bottom:10%;
}
.media-nav li {
  font-size: 15px;
  display: inline-block;
  padding: 1.5%;
  text-shadow: 0px 2px 4px;
}

.list-inline {
 display: flex;
 justify-content: center;
 padding:2%; 
  
}


.person-img {
  height: 108%; 
  margin-left: 2%;
  margin-top: 5%;

  /* padding-right: -3%; */
}
#img {
  background-image: linear-gradient(rgb(109, 109, 109), rgba(255, 255, 255, 0.575)) ;  
  margin-left: 20%;
  margin-top: 15%;
  width: 80%;
  height:75%;
  
  border-radius: 50%;
  box-shadow: 0 0 105px rgb(43, 38, 38);
  
}

.container-one-img {
  background-color: rgba(0, 0, 0, 0.377);
  margin-top: -15%;
  margin-bottom: 15%;
  margin-right: 25%;
 
  margin-left: 60%;
  box-shadow: 0 0 105px rgb(201, 253, 253);
  border-radius: 85%;
  width: 22%;  
  
}


.text-box {
  margin-top:1%;
  margin-left: 5%;
  margin-bottom: 10%;
  color:whitesmoke; 
  font-weight: bolder;
  
}
.intro {
  font-size: 70px;
  margin-left: 0%;
  color:black;
  margin-top: 10%;
}
.text-box span {
  position: absolute;
  background: rgb(47, 219, 219);
  margin-top: 2%;
  width: 390px;
  position: absolute;
  height: 3px;
}


#stage {
  /* margin: 1erm auto; */
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
  margin-top: 5%;
  font-size: 50px;
  font-weight: bolder;
  color:black;
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spinner;
}

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;

}
@keyframes spinner{
  from {
    transform: rotateZ(0);
  }

  0% {
    top: 0px;
    left: 0px;
    color: #d33ebd;
  }
  25% {
    top: 0px;
    left: 100px;
    color: rgb(8, 131, 131);
  }
  50% {
    top: 100px;
    left: 100px;
    color: #6d4033;
  } 
  
}


.container-main2 {
  background-color:#82ccbbd5;
  overflow: hidden;
  padding: 2%;
  padding-left: 1%;
  margin-top: 0%;
  z-index: 50;
  position:fixed;
  top:0px;  
  width:100%;
 
}


.container-main2 li {
  display:inline;
  justify-content: center;
  margin-left: 0%;  
  margin-top: 10%;
  padding: 26px;
  font-size: 20px;
  overflow: hidden;
 

}
.container-main2 li:hover{
  background-color:rgba(250, 235, 215, 0.486);
}
.container-main2 li a {
  text-decoration: none;
  margin-top: 10%; 
  
}






  
/***************************************************** Project & Skills Section ****************************************************************
                               *******************************************************************
**********************************************************************************************************************************/
.skill-title{       
  margin-top: 10%;
  margin-bottom: 4%;
  margin-right: 1%;
  background-color: var(--acc-color2);
  font-size: 2rem;
  color:black;
  width:100%;
  text-align: center;
 
}
.container-skill-info {
  background-color: rgba(255, 255, 255, 0.733);
  width:100%;
  height:100%;
  padding:10%; 
    
  
}
.container-skill-info li{
  margin:2.0%;
  display:inline-flex;
  font-family: sans-serif;   
  
  
}



/***********************projects carousel**************/

/* element.style{
  height:400px;
} */

.carousel-item{
  width:100%;
  height:100%;
  margin-left: 0%;
  margin-top: 10%;
  
 
}
 .fa-arrow-right{
  color:black;
  opacity: 2;
}
.fa-arrow-left{
  color:black;
}

.pro1-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10%;
  padding-top:3%;
  display:flex;
  justify-content: center;
  text-align: center;
  
}
.pro2-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10%;
  display:flex;
  justify-content: center;
  text-align: center;
}
.pro3-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15%;
  display:flex;
  justify-content: center;
}
.pro4-header{
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 15%;
  display:flex;
  justify-content: center;
}

.all-containers{
  width:70%; 
  margin-left: auto;
  margin-right: auto; 
  background-color: #c2b3b1;
  
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top:250px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: black;
  text-align: center;
  opacity: .7;
  transition: opacity .15s ease;
  font-size: 155%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
  height:30%;
  
}


.react-info{
  background-color: rgba(0, 0, 0, 0.377);
}
.react-info li{
  display:inline-flex;
  margin-left: 5%;  
  margin-top: 2%;
  color:white;
  
}
.react-info li:hover{
  color:var(--action-filler);
  opacity: 0.7;
}



.flex-container2{
  
  
  
}
.python-info{
  background-color: rgba(0, 0, 0, 0.377);
}
.python-info li{
  display:inline-flex;
  margin-left: 6%;  
  margin-top: 2%;
  color:white;
}
.python-info li:hover{
  color:aqua;
  opacity: 0.7;
}



.flex-container3{
  
   
}
.Html-info{
  background-color: rgba(0, 0, 0, 0.377);
}
.Html-info li{
  display:inline-flex;
  margin-left: 8%;  
  margin-top: 2%;
  color:white;
}
.Html-info li:hover{
  color:aqua;
}


.flex-container4{
 
  
  

}
.Node-info{
  background-color: rgba(0, 0, 0, 0.377);
}
.Node-info li{
  display:inline-flex;
  margin-left: 8%;  
  margin-top: 2%;
  color:white;
}
.Node-info li:hover{
  color:var(--action-filler);
}



/******************************************************About Section****************************************************************
                                  *******************************************************************
*********************************************************************************************************************************/

.container-aboutMe p {
  font-family: sans-serif;
}
.Me{
  margin-top: 10%;
  margin-left: 10%;
  font-size: 2rem;
  color:black;
  background-color: var(--acc-color2);
  margin-top: 8%;
  width:80%;
  text-align: center;
  
}
.container-aboutMe{
  background-color: rgba(255, 255, 255, 0.788);
  padding:2%;
  padding-bottom: 5%;
}
.container-aboutMe p {
  font-family: sans-serif;
  justify-content: center;
  margin: 2% 10% 1% 10%;
  
}
.container-aboutMe img {
  width:100%;
  height:100%;
}
.cert{
  width:60%;
  height:40%;
  margin-left: 20%;
}
/******************************************************Contact Section***********************************************************
                                  *******************************************************************
********************************************************************************************************************************/


.form-group label{
  margin-top: 2%;
  padding:.2%;
}
.form-control{
  width:75%;
  margin-left: 8%;
  background-color:#ffffff;
  margin-top:1%;
  padding:2%;
  
}
.container-contact{
  background-color: rgb(189, 189, 189);
  padding: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}
.email-container{
  background-color: var(--acc-color2);
  text-align: center;
  width:100%;
    margin-left: 1%;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 2rem;
    
}
.btn-custom {
  margin-left: 40%;
  margin-top:3%;
  margin-bottom: 3%;
}
 
.up-link{
  text-align:center;
  padding:5%;
  font-size: 1.2rem;
}

.container-list{
  background-color: #82ccbb;
  width: 100%;
  
}
.list-inline{
  display:flex;
  justify-content: center;
  
}
#list-inline2{
  display:flex;
  justify-content: center;
  padding:-15%;
}

.list-inline li {
  display: inline-block;
  padding:0%;
  margin-left: 2%;
  text-shadow: 0px 7px 10px;
} 

  


/*********************** ***********************Media Query Mobile  **********************
********************************************************************************************
*******************************************************************************************/

@media only screen and (max-width: 992px){
html,body{
  overflow-x: hidden;
} /*securing in case carousel overflows*/
#portfolio-main{
  width: 470px;
}

.far{
  color:var(--action-filler);
  padding: 7px;
  font-size: 15px;
  display: inline-flex;
}
.navbar>.container-fluid{
  background-color:#cfc5c3;
  
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(101, 236, 207, 0.616); */
  width:100%;
  height:95%;
  margin-left:-3%;
  /* box-shadow: 0 0 105px rgb(18, 109, 109); */
  }
  .navbar-brand{
    font-family: sans-serif;
    font-size: 1rem;
  }
  .intro {
    font-size: 50px;
    color:rgb(43, 42, 42);
    margin-left: 0%;
    margin-right: 30%;
    margin-top: 8%;
  }
#spinner{
  font-size:25px;
  font-weight: bolder;
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.text-box span{
  display:none;
  }
  .navbar{
    visibility: visible;
    display: inline;
  }
  .nav-link{
    color:black;
    font-size: 19px;    
    
  }
  .nav-link:hover{
    color:black;
    opacity:0.7;
    background-color: rgba(250, 235, 215, 0.801);
  }
  .navbar-toggle {
    visibility: visible;
    display: inline;

  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .fa  {
    font-size: 20px;
    color:var(--action-filler);
  
  }
  
  .container-main2 {
    display: none;
  }
  .media-nav{
  display:flex;
  justify-content: left;
  margin-top: 8%;
  margin-left: 10%;
  margin-bottom:2%;
  }
  .media-nav li {
    font-size: 12px;
    display: inline-block;
    padding: 0%;
    margin-top: -20%;
    margin-left: 2%;
    margin-right: 2%;
    text-shadow: 0px 2px 4px;
  }
  
  

  #img {
    height:90%;
    width:100%;
    margin-top:8%;
  }
  .person-img {
    height: 108%; 
    margin-left: 2%;
    margin-top: 5%;
  }
  
  .container-one-img{    
    background-color:rgba(78, 78, 78, 0.178);
    padding: .2%;
    margin-left: 65%;
    margin-top: -17%;
    margin-bottom: 2%;
    border-radius: 90%;
  }
  
  .bi-list{
    width:10%;
    color:white;
    padding:1%;
  }
  .button.bi-list:hover{
    border-color: antiquewhite;
  }
  .icon-bar{
    background-color:white;
  }
  
  .container-skill-info {
    background-color: rgba(245, 245, 245, 0.507);
    width:100%;
    height:100%;
    padding:15%;   
    
  }
  .container-skill-info li{
    margin:2.0%;
    display:inline-flex;
    font-family: sans-serif;   
    
    
  }
  .container-aboutMe{
    background-color: #cbc4cb;
    padding:5%;
    padding-bottom: 20%;
  }
  .container-aboutMe p {
    font-family: sans-serif;
  }
  .Me{
    margin-left: 0%;
    margin-right: 0%;
    font-size: 2rem;
    color:black;
    background-color: #b6a19e;
    margin-top: 10%;
    margin-bottom: 5%;
    width:100%;
    text-align: center;
  }
  .form-group label{
    margin-top: 5%;
    
  }
  .form-control{
    width:85%;
    margin-left: 8%;
    background-color:#d8c9c6;
    margin-top:1%;
    
  }
  .container-contact{
    background-color: rgb(255, 255, 255);
    padding: 10%;
    margin-left:0%;
    margin-right: 0%;
    margin-top: 0%;
  }
  .email-container{   
    width:100%;
    margin-left: 1%;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 2rem;
    color:white;
    background-color: #B6A19e;    
    text-align: center;
  }

  .btn-custom {
    margin-left: 35%;
    margin-top:3%;
    margin-bottom: 3%;
  }
  .up-link a{
    text-align:center;
    padding:20%;
    font-size: 1.2rem;
    color:white;
    text-decoration: none;
  }
  .container-list{
    background-color: #82ccbb;
    width: 100%;
  }
  .list-inline{
    display:flex;
    justify-content: center;
    padding:2%;
  }
  .list-inline li {
    display: inline-block;
    padding:2%;
    margin-left: 2%;
    text-shadow: 0px 2px 10px;
  } 



  /*****************************carousel section mobile********************/
  
  .skill-title{       
    margin-top: 10%;
    margin-right: 0%;
    margin-left: 0%;
    background-color: var(--acc-color2);
    font-size: 2rem;
    color: black;
    width:100%;
    text-align: center;
   
  }
  .skill-info{
    font-size: 25px;
    color: black;
    display:flex;
    justify-content: center;
  }
  .carousel-item{
    width:100%;
    height:60%;
    margin-left: 0%;
    margin-top: 3%;
    
   
  }
   .fa-arrow-right{
    color:black;
    opacity: 2;
  }
  .fa-arrow-left{
    color:black;
  }


  /****************carousel headers mobile**************/
  .pro1-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 10%;
    display:flex;
    justify-content: center;
    
  }
  .pro2-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
  }
  .pro3-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  .pro4-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 15%;
    display:flex;
    justify-content: center;
    text-align: center;
  }
  /*******************************************************/
  .all-containers{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(124, 110, 110, 0.74);
    
  }
  
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top:230px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: black;
    text-align: center;
    opacity: .7;
    transition: opacity .15s ease;
    font-size: 155%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.4);
    height:30%;
}
  .flex-container1{
    margin-left: 1%;
    margin-top: 0%;
    padding:5%;
    width:100%;
    box-shadow: 0 0 0px;     
  }
  .react-info{
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 2%;
  }
  .react-info li{
    display:inline-flex;
    justify-content: center;
    margin-left: -2%;
    margin-top: 5%;
    padding:1.2%;
    color:black;
    
  }
  .react-info li:hover{
    color:var(--action-filler);
    opacity: 0.7;
  }

  

  .flex-container2{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%; 
    padding:5%;   
    width: 100%; 
    box-shadow: 0 0 0px ;  
    
  }
  .python-info{
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 2%;
  }
  .python-info li{
    display:inline-flex;
    justify-content: center;
    padding:1.2%;
    color:black;
    margin-left: -2%;
  }
  .python-info li:hover{
    color:aqua;
    opacity: 0.7;
  }
  


  .flex-container3{
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 40%;
    padding:5%;
    width:100%;
    box-shadow: 0 0 0px;   
  }
  .Html-info{
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 2%;
  }
  .Html-info li{
    display:inline-flex;
    justify-content: center;    
    margin-left: 1%;
    margin-top: -15%;
    color:black;
  }
  .Html-info li:hover{
    color:aqua;
  }

  
  .flex-container4{
    margin-left: 1%;
    margin-top: -48%;
    padding:5%;   
    width:100%;
    box-shadow: 0 0 0px;

  }
  .Node-info{
    background-color: rgba(255, 255, 255, 0.733);
    margin-top: 2%;
  }
  .Node-info li{
    display:inline-flex;
    justify-content: center;
    margin-left: 2%;   
    margin-top: -15%;
    color:black;
  }
  .Node-info li:hover{
    color:var(--action-filler);
  }
  .cert{
    width:80%;
    height:60%;
    margin-left: 10%;
  }

}

